<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../public/css/index.css" type="text/css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/63f449674b.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div id="header_logo">
      <h1><a href="/"><i class="fa-solid fa-house"></i></a></h1>
    </div>
    <ul class="navbar_menu">
      <li><a href="">gallery</a></li>
      <li><a href="">community</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
    <ul class="header_icon">
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
    </ul>
    <input type="checkbox" id="menu_icon">
      <label for="menu_icon">
        <span class="hamburger num1"></span>
        <span class="hamburger num2"></span>
        <span class="hamburger num3"></span>
      </label>
      <div class="sidemenu">
        <form method="post" acction="/">
          <input type="text" placeholder="id">
          <input type="password" placeholder="password">
          <button type="submit">login</button>
        </form>
      </div>
  </nav>
  <div class="content">
    <div class="content_wrap">
      <div class="content_phrase">
        <p>You can <b>enjoy</b> a lot of benefits when you <strong>sign up</strong>.</p>
        <p>Would you like to <strong>sign up</strong> now?</p>
        <a href="/">JOIN US</a>
      </div>
    </div>
  </div>
  
</body>
</html>