<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="content">
    <div class="content_join">
      <div class="content_wrap">
        <div class="logo">
          <h1>logo</h1>
        </div>
        <form class="inputFrm" method="post" action="/join" >
          <div class="input text">
            <input id="idbox" class="box" type="text" placeholder="ID" name="userid" minlength="6" maxlength="12" autofocus>
            <span class="errorBox" style="display: none
            ;">필수 정보입니다.</span>
            <span class="checkBox" style="display: none;">아이디가 중복입니다.</span>
          </div>
          <div class="input password">
            <input id="pwbox" class="box" type="password" placeholder="PASSWORD" name="userpw" minlength="8" maxlength="15">
            <span class="errorBox" style="display: none">필수 정보입니다.</span>
          </div>
          <div class="input nickname">
            <input id="nickbox" class="box" type="text" placeholder="NICKNAME" name="nickname" minlength="3" maxlength="6">
            <span class="errorBox" style="display: none;">필수 정보입니다.</span>
            <span class="checkBox" style="display: none;">닉네임이 중복입니다.</span>
          </div>
          <div class="input number">
            <input class="box" type="text" placeholder="PHONE NUMBER" name="tellnumber" minlength="10" maxlength="11">
          </div>
          <div class="input email">
            <input class="box" type="email" placeholder="E-MAIL" name="email">
          </div>
          <div class="input join">
            <button id="joinBtn" class="btn" type="submit">JOIN</button>
          </div>
        </form>
      </div>
    </div>      
  </div>
<script type="module" src="/js/module/signup.js"></script>
</body>
</html>